<h1>{{title}}</h1>

<p>
    Welcome to {{title}}
    <br>
    My name is {{myName}} 
</p>

<ul>
{{#each dogs}}
    <li>{{this}}</li>
{{/each}}
</ul>

{{#each posts}}
    <p>
        <a href="/{{id}}">{{title}}</a>
    </p>
{{/each}} 